.cover {
    position: relative;
    display: flex;
    max-width: 1184px;
    min-height: 740px;
    flex-direction: column;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}